@mixin smartphones() {
    @media (max-width: 500px) {
        @content;
    }
}
@mixin link-text() {
    &::after {
        content: '—';
    }
    &::before {
        content: '—';
    }
}
@mixin link-text-right() {
    &::after {
        content: '—';
    }
}
@mixin link-text-left() {
    &::before {
        content: '—';
    }
}