#header {
    background-color: $grey-primary;
    color: white;
    border-radius: 0 0 12px 0;
    h2 {
        font-style: italic;
    }
    #btn-blog {
        margin-top: 38px;
        float: right;
    }
}
#card-area {
    .own-card {
        margin-top: 50px;
    }
}