// COLORS
$blue-primary: #041A59;
$blue-secondary: #031240;
$blue-tertiary: #020B26;
$dark-grey: rgb(41, 41, 41);
$grey-light: #D9D9D9;
$white-alpha: rgba(255, 255, 255, 0.71);

// IMPORTS
@import 'mixins';
@import 'floater-menu';
@import 'slider';
@import 'button-cta';
@import 'to-portfolio';
@import 'lines';
@import 'to-blog';
@import 'cards/blog';
@import 'cards/partnes';
@import 'to-partnes';
@import 'footer';
@import 'floater-logo';

// DEFAULTS
h1, h2 {
    font-family: "Cinzel", Arial, Helvetica, sans-serif
}
.inline {
    display: inline-block;
}
section {
    height: 100vh;
}

// LINKS
.link-text {
    color: $dark-grey;
    @include link-text();
    transition-duration: .5s;
    &:hover {
        color: $blue-primary;
        transition-duration: .5s;
        font-weight: 700;
    }
}
.link-text-right {
    color: $dark-grey;
    @include link-text-right();
    transition-duration: .5s;
    &:hover {
        color: $blue-primary;
        transition-duration: .5s;
        font-weight: 700;
    }
}
.link-text-left {
    color: $dark-grey;
    @include link-text-left();
    transition-duration: .5s;
    &:hover {
        color: $blue-primary;
        transition-duration: .5s;
        font-weight: 700;
    }
}

// LOCAL
#wpadminbar {
    display: none;
}