// COLORS
$red-primary: rgba(191, 4, 4, 0.801);
$grey-primary: #707070;
$grey-light: #D9D9D9;
$white-alpha: rgba(255, 255, 255, 0.71);

// DEFAULTS
h1, h2 {
    font-family: "Cinzel-Regular";
}

// LOCAL
#wpadminbar {
    display: none;
}

// IMPORTS
@import 'mixins';
@import 'floater-menu';
@import 'slider';
@import 'button-cta';
@import 'to-portfolio';
@import 'lines';
@import 'to-blog';
@import 'cards/blog';